*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
  border: 3px solid #250250;
}

#imges .img {
    border: 2px solid #d0d0d0;
    width: auto;
    height: auto;
    display: flex;
    background: rgba(15, 187, 230, 0.350);
    text-align: center;
    justify-content: flex-end;
    justify-self: center;


}

.img {
    margin: 4px;
    padding: 8px;
    max-width: 100px;
}

:hover {
    background: rgb(66, 133, 244);
}

